affine==1.2.0
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
click==6.3
click-plugins==1.0.3
cligj==0.4.0
git+https://github.com/consbio/clover.git
Django>=1.8,<1.9
django-celery==3.1.17
django-tastypie==0.13.3
djangorestframework==3.3.3
Fiona==1.6.3
Jinja2==2.8
kombu==3.0.35
MarkupSafe==0.23
mercantile
git+https://github.com/consbio/ncdjango.git@geoprocessing
netCDF4
numpy
palettable==2.1.1
Pillow
ply==3.8
psycopg2
pyproj==1.9.5.1
pytest-django==2.9.1
python-dateutil==2.5.1
python-mimeparse==1.5.1
pytz==2016.3
rasterio==0.32.0
Shapely==1.5.13
django-filter==0.13.0
aiohttp==0.22.3
