amqp==2.1.1
celery==4.0.0
git+https://github.com/consbio/clover.git
Django==1.8.16
django-celery
djangorestframework==3.5.3
Fiona==1.7.1
kombu==4.0.0
mercantile
ncdjango==0.4.2
netCDF4
numpy==1.11.2
Pillow==3.4.2
psycopg2
pyproj
pytest==3.0.4
pytest-django==3.1.2
pytz
rasterio
Shapely
django-filter==1.0.1
aiohttp==1.1.6
geopy
raven==5.32.0
WeasyPrint==0.32  # WeasyPrint 0.33 causes font issue on OS X
django-celery-results==1.0.1
social-auth-app-django==1.1.0
python-pptx==0.6.5
