amqp
celery
git+https://github.com/consbio/clover.git
Django>=1.8,<1.9
django-celery
djangorestframework
Fiona
kombu
mercantile
ncdjango==0.4.2
netCDF4
numpy
Pillow
psycopg2
pyproj
pytest
pytest-django
pytz
rasterio
Shapely
django-filter
aiohttp==1.0.1
geopy
raven
WeasyPrint
