amqp==1.4.9
celery
git+https://github.com/consbio/clover.git
Django==1.8.16
django-celery
djangorestframework==3.5.2
Fiona
kombu==3.0.37  # Not ready for kombu 4 yet... breaks celery
mercantile
ncdjango==0.4.2
netCDF4
numpy==1.11.2
Pillow==3.4.2
psycopg2
pyproj
pytest
pytest-django
pytz
rasterio
Shapely
django-filter==0.15.3
aiohttp==1.0.5
geopy
raven==5.31.0
WeasyPrint
