html {
    height: 100%;
}

body {
    height: 100%;
}

.form-inline {
    display: inline;
    width: auto;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    z-index: 2;
    background-color: #fff;
    overflow: auto;
}

.sidebar .step {
    margin-bottom: 20px;
    padding-left: 20px;
}

.sidebar .step h4 {
    margin-left: -20px;
}

.sidebar .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .92);
    z-index: 3;
    left: 0px;
    padding-left: 20px;
}

.sidebar .overlay .progressContainer {
    margin-right: 30px;
    margin-top: 50%;
}

.sidebar .coords input {
    width: 75px;
    padding: 2px;
    height: 24px;
    display: inline;
    margin-right: 10px;
    text-align: right;
}

.sidebar .btn-group .btn {
    background-color: #fff;
    color: #333;
    border-color: #ccc;
}

.sidebar .btn-group .btn.active:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.sidebar .btn-group .btn.active, .sidebar .btn-group .btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.sidebar .nav.nav-tabs {
    margin: 0px -15px;
}

.main {
    position: fixed;
    top: 50px;
    bottom: 0;
    padding: 0px;
    border-left: 2px solid #888;
}

.navbar-brand img {
    margin-top: -2px;
    margin-right: 5px;
}

#Map {
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#TimeOverlay {
    z-index: 2;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 1.3em;
}

.variableConfig {
    padding: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    margin-bottom: 5px;
}

.variableConfig input {
    width: 50px;
    text-align: right;
}

.variableConfig div.transfer {
    float: right;
}

.variableConfig input.form-control {
    display: inline;
    padding: 2px;
    height: 24px;
}

.variableConfig table {
    width: 100%;
}

.variableConfig td.right {
    text-align: right;
}

.variableConfig.focused {
    background-color: #EEF;
}

.variablesList select {
    width: 100%;
}

.leaflet-opacity-control {
    width: 26px;
    background-color: #fff;
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 5px;
}

.leaflet-opacity-control input[type=range] {
    height: 150px;

    writing-mode: bt-lr; /* For IE */

    /*
     * -webkit-appearance is non-standard and may break in the future:
     * https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance
     * However, for now it's the only way to get a vertical range input on Chrome.
     */
    -webkit-appearance: slider-vertical;
}
