html {
    height: 100%;
}

body {
    height: 100%;
}

#InfoModal .modal-body {
    max-height: 500px;
    overflow: auto;
}

#LoginModal input.form-control, #RegisterModal input.form-control, #SettingsModal input.form-control {
    margin-bottom: 10px;
}

.form-inline {
    display: inline;
    width: auto;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 400px;
    float: left;
    z-index: 2;
    background-color: #fff;
    box-shadow: 2px 0px 10px;
}

.sidebar .nav.nav-tabs {
    margin: 0px 0px 0px -15px;
    padding-left: 15px;
    background-color: #f9f9f9;
}

.sidebar .nav.nav-tabs li.active>a {
    font-weight: bold;
    color: #333;
}

.sidebar .tab-content {
    max-height: 100%;
    overflow: auto;
    padding: 0px 15px 0px 15px;
}

.sidebar .step {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 41px;
    padding-right: 15px;
    border-bottom: 1px solid #f0f0f0;
    opacity: .8;
}

.sidebar .step.active {
    opacity: 1;
}

.sidebar .step.noCollapse {
    opacity: 1;
    border-bottom: 0px;
    margin-bottom: 10px;
}

.sidebar .step>h4 {
    margin-left: -26px;
}

.step .gradientTop, .step .gradientBottom {
    height: 1px;
    margin-left: -41px;
    margin-right: -15px;
    border: 0px;
    transition: height .5s;
}

.step .gradientBottom {
    margin-top: 3px;
}

.step:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}

.step.active:hover, .step.noCollapse:hover {
    cursor: default;
    background-color: #FFF;
}

.step.active .gradientTop, .step.active .gradientBottom {
    transition: height .5s, border .25s;
}

.step.active .gradientTop {
    height: 10px;
    border-top: 3px solid #f0ad4e;
}

.step.active .gradientBottom {
    height: 15px;
    border-bottom: 3px solid #f0ad4e;
}

.step.active .badge {
    background-color: #000;
    font-size: 16px;
}

.sidebar .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .92);
    z-index: 3;
    padding-left: 20px;
}

.sidebar .overlay .progressContainer {
    margin-right: 30px;
    margin-top: 50%;
}

.sidebar .coords input {
    width: 85px;
    padding: 2px;
    height: 24px;
    display: inline;
    margin-right: 10px;
    text-align: right;
}

.sidebar .btn-group .btn {
    background-color: #fff;
    color: #333;
    border-color: #ccc;
}

.sidebar .btn-group .btn.active:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.sidebar .btn-group .btn.active, .sidebar .btn-group .btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.sidebar .btn-group-sm.btn-group .btn {
    font-size: .8em;
    font-weight: bold;
    margin-bottom: 8px;
}

.aboutImage {
    float: right;
    margin-left: 5px;
    margin-right: -15px;
}

.main {
    position: fixed;
    top: 50px;
    bottom: 0;
    padding: 0px;
    padding-left: 400px;
    width: 100%;
    border-left: 2px solid #888;
}

.navbar-brand img {
    margin-top: -2px;
    margin-right: 5px;
    color: #CCC;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:focus {
    color: #CCC;
}

#Map {
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#TimeOverlay {
    z-index: 2;
    position: absolute;
    left: 420px;
    top: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 1.3em;
}

.aboutStep {
    border-bottom: 1px solid #CCC;
}

.aboutStep:last-child {
    border-bottom: 0px;
}

.aboutStep img {
    float: left;
    margin-right: 20px;
}

.variableConfig {
    padding: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    margin-bottom: 5px;
}

.variableConfig input {
    width: 50px;
    text-align: right;
}

.variableConfig div.transfer {
    float: right;
}

.variableConfig input.form-control {
    display: inline;
    padding: 2px;
    height: 24px;
}

.variableConfig table {
    width: 100%;
}

.variableConfig td.right {
    text-align: right;
}

.variableConfig.focused {
    background-color: #EEF;
}

.variablesList select {
    width: 100%;
}

.variablesList table {
    width: 100%;
}

.variablesList table td .visibilityToggle {
    cursor: pointer;
    opacity: .6;
}

.variablesList.edit table tr:hover td {
    background-color: #f4f4f4;
}

.variablesList table tr.visible td .visibilityToggle, .variablesList table td .visibilityToggle:hover {
    opacity: 1;
}

.variablesList.edit span.transferNode {
    border-bottom: 1.5px dashed blue;
    cursor: pointer;
    color: blue;
}

.variablesList div.modifyStatus {
    display: inline-block;
    width: 3px;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 5px;
    transition: background-color .5s;
}

.variablesList div.modified {
    background-color: #f0ad4e;
    transition: background-color .5s;

}

.variablesList .nodata {
    color: #999;
}

.variablesList div.transferReset {
    display: inline-block;
    color: #66F;
    cursor: pointer;
    font-size: .9em;
    float: right;
    margin-right: 5px;
}

.variablesList input[type=text] {
    width: 75px;
    margin-left: -12px;
    margin-top: -6px;
}

.configurationList {
    margin-left: -15px;
    margin-right: -15px;
}

.configurationItem {
    padding-left: 15px;
    border-top: 1px solid #D8D8D8;
}

.configurationItem:first-child {
    border-top: 0px;
}

.configurationItem.focused {
    background-color: #D9D9D9;
}

.configurationItem .title {
    font-weight: bold;
}

.configurationItem .date {
    font-style: italic;
    font-size: 0.8em;
}

.configurationItem .buttons {
    box-shadow: -2px 0px 5px -2px;
    width: 0px;
    transition: width .5s;
    overflow: hidden;
}

.configurationItem.focused .buttons {
    width: 80px;
}

.configurationItem .buttons button {
    display: block;
    border: 0px;
    text-align: left;
    width: 100%;
    color: #fff;
    width: 80px;
}
.configurationItem .buttons button:first-child {
    background-color: #337ab7;
    border-bottom: 1px solid #333;
}

.configurationItem .buttons button:last-child {
    background-color: #D9534E;
}

.variable-tooltip {
    box-shadow: 5px 5px 10px rgba(153, 153, 153, .6);
    font-size: 1.1em !important;
    max-width: 350px;
}

.variable-tooltip .tooltip-label {
    color: #999;
    margin-right: 8px;
}

pre.error-debug-info {
    max-height: 200px;
    overflow: auto;
}

.leaflet-opacity-control {
    width: 26px;
    background-color: #fff;
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.leaflet-opacity-control input[type=range] {
    height: 150px;

    /*
     * -webkit-appearance is non-standard and may break in the future:
     * https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance
     * However, for now it's the only way to get a vertical range input on Chrome.
     */
    -webkit-appearance: slider-vertical;
}

/* Hack to target IE 10 & 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .leaflet-opacity-control {
        padding-bottom: 15px;
    }

    .leaflet-opacity-control input[type=range] {
        writing-mode: bt-lr;
        width: 45px;
        margin-left: -11px;
    }
}


.leaflet-button {
    width: 26px;
    background-color: #fff;
    font-size: 1.3em;
    text-align: center;
    padding-top: 5px;
}

.leaflet-button:hover {
    background-color: #eee;
    cursor: pointer;
}

.leaflet-legend {
    background-color: #fff;
    padding: 5px;
}

.leaflet-legend td:last-child {
    padding-left: 5px;
}

.leaflet-legend tbody tr:first-child td {
    vertical-align: top;
}

.leaflet-legend tbody tr:last-child td {
    vertical-align: bottom;
}

.legend-item.results img {
    transform: rotate(180deg);
}

.leaflet-zoom-box-control.active a {
    background: #999 url('../images/icon-crop.svg') no-repeat center center;
    background-size: 16px 16px;
}

.map-info-popup {
    min-width: 100px;
}

.leaflet-popup .map-info-popup button {
    width: 100%;
}

.icon-eye {
    background: url('../images/icon-eye.svg') no-repeat center center;
}

.icon-eye-closed {
    background: url('../images/icon-eye-closed.svg') no-repeat center center;
}

.icon-crop {
    background: url('../images/icon-crop.svg') no-repeat center center;
}

.icon-contrast {
    background: url('../images/icon-contrast.svg') no-repeat center center;
}

.icon-save {
    background: url('../images/icon-save.svg') no-repeat center center;
}

.icon-load {
    background: url('../images/icon-load.svg') no-repeat center center;
}

.icon-file {
    background: url('../images/icon-file.svg') no-repeat center center;
}

.icon-trash {
    background: url('../images/icon-trash.svg') no-repeat center center;
}

.icon-clock {
    background: url('../images/icon-clock.svg') no-repeat center center;
}

.icon12 {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-size: 12px 12px;
}

.icon16 {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 16px 16px;
}

.icon18 {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-size: 18px 18px;
}
