{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Run Job Test</title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
        var variables = [
            'AHM', 'bFFP', 'CMD', 'DD_0', 'DD_18', 'DD5', 'DD18', 'eFFP', 'EMT', 'Eref', 'EXT', 'FFP', 'MAP', 'MAR',
            'MAT', 'MCMT', 'MSP', 'MWMT', 'NFFD', 'PAS', 'RH', 'SHM', 'TD'
        ];

        var ready = function(fn) {
            if (document.readyState === 'complete') {
                return fn();
            }
            document.addEventListener('DOMContentLoaded', fn, false);
        };

        ready(function() {
            var table = document.getElementById('VarTable');
            variables.forEach(function(varName) {
                var row = table.insertRow();
                row.id = varName;
                row.innerHTML = '<td><input type="checkbox"></td>' +
                        '<td>' + varName + '</td>' +
                        '<td class="min"></td>' +
                        '<td class="max"></td><td class="value"></td><td>' +
                        '<input type="text" style="width: 70px;" value="2.0" /></td>';

                var url = '/data/services/1961_1990Y_' + varName + '/' + varName + '/info/range/';
                $.get(url).success(function(data) {
                    document.querySelector('#' + varName + ' .min').innerHTML = data.min;
                    document.querySelector('#' + varName + ' .max').innerHTML = data.max;
                });
            });

            identify();
        });

        function identify() {
            var lat = parseFloat(document.getElementById('Lat').value);
            var lon = parseFloat(document.getElementById('Lon').value);

            variables.forEach(function(varName) {
                var url = '/arcgis/rest/services/1961_1990Y_' + varName + '/MapServer/identify/';
                var geometry = {x: lon, y: lat};
                url += '?f=json&tolerance=2&imageDisplay=1600%2C1031%2C96&&geometryType=esriGeometryPoint&' +
                        'mapExtent=-12301562.058352625%2C6293904.1727356175%2C-12056963.567839967%2C6451517.325059711' +
                        '&geometry=' + JSON.stringify(geometry);

                $.get(url).success(function(data) {
                    document.querySelector('#' + varName + ' .value')
                            .innerHTML = data.results[0].attributes['Pixel value'];
                })
            });
        }

        function runJob() {
            var checkedVariables = document.querySelectorAll('input[type=checkbox]:checked');
            var inputs = {
                variables: [],
                limits: []
            };

            for (var i = 0; i < checkedVariables.length; i++) { // .forEach() doesn't work here
                var node = checkedVariables[i];
                var row = node.parentNode.parentNode;
                var varName = row.id;
                var value = parseFloat(row.querySelector('.value').innerHTML);
                var limit = parseFloat(row.querySelector('input[type=text]').value);

                inputs.variables.push('service://1961_1990Y_' + varName + ':' + varName);
                inputs.limits.push({min: value - limit, max: value + limit});
            }

            var url = '/geoprocessing/rest/jobs/';
            var data = {
                job: 'generate_scores',
                inputs: JSON.stringify(inputs)
            };
            $.post(url, data).success(function(data) {
                document.getElementById('RunButton').disabled = true;
                document.getElementById('ResultsContainer').innerHTML = '<h2>Job is running...</h2>';
                pollJobStatus(data.uuid);
            });
        }

        function pollJobStatus(uuid) {
            $.get('/geoprocessing/rest/jobs/' + uuid + '/').success(function(data) {
                if (data.status === 'success') {
                    document.getElementById('RunButton').disabled = false;
                    document.getElementById('ResultsContainer').innerHTML = '<img src="/arcgis/rest/services/' +
                                    JSON.parse(data.outputs).raster_out + '/MapServer/export" />';
                }
                else if (data.status === 'pending' || data.status == 'started') {
                    setTimeout(function() { pollJobStatus(uuid); }, 1000);
                }
                else {
                    document.getElementById('RunButton').disabled = false;
                    document.getElementById('ResultsContainer').innerHTML = '<h2>Oops.</h2>';
                    console.log(data);
                }
            });
        }
    </script>

    <style type="text/css">
        table {
            border-spacing: 0px;
            border-collapse: collapse;
        }
        table td, table th {
            border: 1px solid #000;
            padding: 3px;
        }
    </style>
</head>
<body>
    <div>
        <strong>Lat: </strong><input type="text" id="Lat" style="width: 60px;" value="49.7" />
        <strong>Lon: </strong><input type="text" id="Lon" style="width: 60px;" value="-109.5" />
        <button onclick="identify()">Identify</button>
    </div>
    <div style="margin-top: 10px; margin-bottom: 10px;">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Variable</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>Value at point</th>
                    <th>Limit (+/-)</th>
                </tr>
            </thead>
            <tbody id="VarTable"></tbody>
        </table>
    </div>
    <div>
        <button id="RunButton" onclick="runJob()">Calculate Scores</button>
    </div>
    <div id="ResultsContainer"></div>
</body>
</html>
