{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Seedlot Selection Tool</title>

    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" />
    <link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}" />
    <link rel="stylesheet" href="{% static "leaflet/controls/leaflet-basemaps/L.Control.Basemaps.css" %}" />
    <link rel="stylesheet" href="{% static "leaflet/controls/leaflet-zoombox/L.Control.ZoomBox.css" %}" />
    <link rel="stylesheet" href="{% static "leaflet/controls/leaflet-geonames/L.Control.Geonames.css" %}" />
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" />
    <link rel="stylesheet" href="{% static "sst/css/tool.css" %}" />
</head>
<body>
    <!-- Navbar -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url "tool_page" %}">
                    <img src="{% static "sst/images/logo.png" %}" align="left" />
                    Seedlot Selection Tool
                </a>
            </div>
            <div>
                <ul id="SignedInNav" class="nav navbar-nav navbar-right hidden">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span id="EmailDisplay"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#SettingsModal">Account Settings</a></li>
                            <li><a href="javascript:logout()">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
                <ul id="SignedOutNav" class="nav navbar-nav navbar-right hidden">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Account
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#RegisterModal">Create Account</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#LoginModal">Sign In</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#InfoModal" data-title="Purpose" data-content="#PurposeContent">
                            Purpose
                        </a>
                    </li>
                    <li>
                        <a href="{% static 'documents/SST Instructions.pdf' %}" >Instructions</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            More Information
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#InfoModal" data-title="Background" data-content="#BackgroundContent">
                                    Background
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#InfoModal" data-title="Approach" data-content="#ApproachContent">
                                    Approach
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#InfoModal" data-title="ClimateNA" data-content="#ClimateNAContent">
                                    ClimateNA
                                </a>
                            </li>
                            <li><a href="https://github.com/consbio/seedsource" target="_blank">Source Code</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#InfoModal" data-title="People" data-content="#PeopleContent">People</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#InfoModal" data-title="News & Updates" data-content="#NewsContent">News & Updates</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#InfoModal" data-title="Report an Issue" data-content="#ReportContent">Report an Issue</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main body -->

    <div class="container-fluid">
        <div class="row">
            <div class="sidebar" id="Sidebar"></div>
            <div class="main">
                <div id="TimeOverlay" class="hidden"><span class="icon16 icon-clock" aria-hidden="true"></span> Showing: <span id="TimeLabel">1961 - 1990</span></div>
                <div id="Map"></div>
            </div>
        </div>
    </div>

    <!-- Dialogs -->

    <div id="LoginModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Sign In</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" role="alert">Invalid username or password.</div>
                    <form onsubmit="login(); return false;">
                        <input type="email" name="username" id="LoginEmail" class="form-control" placeholder="Email address" required autofocus />
                        <input type="password" name="password" id="LoginPassword" class="form-control" placeholder="Password" required />
                        <div class="pull-right"><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#ForgotPasswordModal">Forgot your password?</a></div>
                        <div style="clear: both;">&nbsp;</div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="ForgotPasswordModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Reset Password</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" role="alert">No account with this email address exists. Please create a new account.</div>
                    <div class="alert alert-success hidden" role="alert">An email has been sent with a link to reset your password. If you don't receive this email, please check your Spam folder.</div>
                    <form onsubmit="resetPassword(); return false;">
                        <input type="email" name="username" id="ResetEmail" class="form-control" placeholder="Email address" required autofocus />
                        <div>&nbsp;</div>
                        <button class="btn btn-primary btn-block" type="submit">Send reset link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="RegisterModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create Account</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" role="alert"></div>
                    <form onsubmit="createAccount(); return false;">
                        <input type="email" id="RegisterEmail" class="form-control" placeholder="Email address" required autofocus />
                        <input type="password" id="RegisterPassword" class="form-control" placeholder="Password" required />
                        <input type="password" id="RegisterPasswordConfirm" class="form-control" placeholder="Confirm Password" required />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="SettingsModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Account Settings</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="changeEmail(); return false;">
                        <label for="ChangeEmail" class="control-label">Email address</label>
                        <div class="alert alert-danger email hidden" role="alert"></div>
                        <input type="email" id="ChangeEmail" class="form-control" placeholder="New email" required />
                        <button class="btn btn-sm btn-primary" type="submit">Change Email</button>
                    </form>
                    <div>&nbsp;</div>
                    <form onsubmit="changePassword(); return false;">
                        <label for="ChangePassword" class="control-label">Password</label>
                        <div class="alert alert-danger password hidden" role="alert"></div>
                        <input type="password" id="ChangePassword" class="form-control" placeholder="New Password" required />
                        <input type="password" id="ChangePasswordConfirm" class="form-control" placeholder="Confirm Password" required />
                        <button class="btn btn-sm btn-primary" type="submit" >Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="SaveModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Save Run Configuration</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="saveConfiguration(); return false;">
                        <label for="RunTitle" class="control-label">Title</label>
                        <input type="text" id="RunTitle" class="form-control" required />
                        <div>&nbsp;</div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="OverwriteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Save Run Configuration</h4>
                </div>
                <div class="modal-body">
                    <div>Do you want to update the current configuration, <strong><span id="CurrentSaveTitle"></span></strong>, or save as a new configuration?</div>
                    <div>&nbsp;</div>
                    <div>
                        <button class="btn btn-default pull-left" onClick="showSaveDialog()">Save as new</button>
                        <button class="btn btn-primary pull-right" onClick="updateConfiguration()">Update current</button>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="InfoModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" id="PurposeContent">
                    <p>
                        The Seedlot Selection Tool (SST) is a GIS mapping program designed to help forest and
                        restoration managers match seedlots with planting sites based on climatic information. The tool
                        can be used to map current climates, or future climates based on selected climate change
                        scenarios. Although it is tailored for matching seedlots and planting sites, it can be used by
                        anyone interested in mapping recent-past, present, or future climates defined by variables
                        related to temperature and water availability. Forest managers can use this tool to help choose
                        seedlots that are appropriate for planting on a particular site, or planting sites that are
                        appropriate for a particular seedlot. This can be done using recent-past climate information
                        (i.e., ignoring observed or potential climate change) or by choosing a current or future time
                        period and an emissions scenario. Because of the uncertainty in climate change projections,
                        the tool is really a planning and educational tool. It can be used to explore alternative
                        future conditions, assess risk, and plan potential responses, but cannot tell the user exactly
                        which seedlots will be optimally adapted to a particular planting site in the future. The tool
                        allows the user to control many input parameters so the results are appropriate for the
                        management practices, climate change assumptions, and risk tolerance of the user.
                    </p>
                </div>
                <div class="modal-body" id="GetStartedContent">
                    Todo... <em>Just enough information needed to get started…and some tips.</em>
                </div>
                <div class="modal-body" id="PeopleContent">
                    <p>
                        The Seedlot Selection Tool is a collaboration between the US Forest Service, Oregon State
                        University, and the Conservation Biology Institute.  Initial conceptualization and development
                        was done by Glenn Howe at Oregon State University College of Forestry and Brad St.Clair at the
                        USFS Pacific Northwest Research Station, with considerable input from Ron Beloin while he was
                        working at Oregon State University. The Conservation Biology Institute was brought onboard to
                        bring the project to fruition through their expertise in web site design and programming for
                        spatial applications.  Personnel at the Conservation Biology Institute include Dominique
                        Bachelet (project co-PI), Nikolas Stevenson-Molnar (tool developer), and Brendan Ward
                        (project manager).
                    </p>
                    <p>
                        Initial funding for the Seedlot Selection Tool came from the US Forest Service Washington
                        Office.  Subsequent funding came from the USFS Pacific Northwest Research Station, Oregon State
                        University, and the USDA Northwest Climate Hub.
                    </p>
                    <h4>Contact Information</h4>
                    <p>
                        Dr. Glenn Howe – Co-Prinicipal Investigator<br />
                        Associate Professor, Department of Forest Ecosystems and Society<br />
                        Oregon State University, Corvallis, Oregon, USA<br />
                        <a href="mailto:glenn.howe@oregonstate.edu">glenn.howe@oregonstate.edu</a>
                    </p>
                    <p>
                        Dr. Brad St.Clair – Co-Prinicipal Investigator<br />
                        Research Geneticist, Pacific Northwest Research Station<br />
                        USDA Forest Service, Corvallis, Oregon, USA<br />
                        <a href="mailto:bstclair@fs.fed.us">bstclair@fs.fed.us</a>
                    </p>
                    <p>
                        Dr. Dominique Bachelet – Co-Prinicipal Investigator<br />
                        Senior Climate Change Scientist<br />
                        Conservation Biology Institute, Corvallis, Oregon, USA<br />
                        <a href="mailto:dominique@consbio.org">dominique@consbio.org</a>
                    </p>
                    <p>
                        Nikolas Stevenson-Molnar – Tool Developer<br />
                        Software Engineer<br />
                        Conservation Biology Institute, Corvallis, Oregon, USA<br />
                        <a href="mailto:nik.molnar@consbio.org">nik.molnar@consbio.org</a>
                    </p>
                    <p>
                        Brendan Ward – Project Manager<br />
                        Conservation Biologist/GIS Analyst/Software Engineer<br />
                        Conservation Biology Institute, Corvallis, Oregon, USA<br />
                        <a href="mailto:bcward@consbio.org">bcward@consbio.org</a>
                    </p>
                </div>
                <div class="modal-body" id="InstructionsContent">
                    Todo... <em>Detailed instructions and a link to the instruction manual (PDF).</em>
                </div>
                <div class="modal-body" id="BackgroundContent">
                    <p>
                        Populations of forest trees and other native plants are genetically different from each other,
                        and are adapted to different climatic conditions. Therefore, forest and restoration managers
                        must match the climatic adaptability of their plant materials to the climatic conditions of
                        their planting sites. Generally, local populations are optimally adapted to their local
                        climates, or nearly so. As a result, it has generally been recommended that local seed sources
                        be used for reforestation and restoration. Typically, this has been done using geographically
                        defined zones (e.g., seed zones or breeding zones) or seed transfer rules that specify a
                        geographic or climatic distance from which one may obtain seed for a planting location. These
                        recommendations assume, however, that climates are stable over the long-term, an assumption
                        that is unlikely given the evidence for climate change. Because populations are genetically
                        adapted to their local climates, the health and productivity of both planted and native forests
                        and other ecosystems will likely decline as climates change. Climate models are now available
                        that can be used to define zones based on climate rather than geography, and to calculate
                        climatically based seed transfer distances for specific planting sites. Once acceptable
                        climatic transfer limits have been defined (i.e., using seed zones, breeding zones, or some
                        other approach), forest and restoration managers can explore options for responding to concerns
                        about climate change through the selection of alternative seed sources.
                    </p>
                </div>
                <div class="modal-body" id="ApproachContent">
                    <p>
                        The Seedlot Selection Tool maps the degree to which the climate across the landscape matches
                        the climate centered at a location plus or minus a specified transfer limit for each climate
                        variable.  The climate center at a location is defined by the recent historical, current, or
                        future climates, as chosen by the user. The transfer limits are also set by the user. The user
                        may set the transfer limit based on best available knowledge, or they may set the initial
                        transfer limit based on characterization of the transfer limits corresponding to the seed zone
                        or other zone in which the location falls (if zones are available for that location). Transfer
                        limits may be adjusted to reflect the management practices and risk tolerance of the user.
                        Agencies or organizations that are able to adjust management practices quickly (e.g., with
                        early rotation ages) or are more willing to accept risk may choose a wider transfer limit than
                        those that are risk-averse. The climate that is mapped shows the degree to which locations
                        match the climate center with the degree of match indicated by dark orange for a higher match
                        to light yellow for a lower match but still within the transfer limit.  Assuming that
                        populations are locally adapted to the recent past or current climates, as chosen by the user,
                        the match indicates the suitability of seedlots for the recent past, current, or future
                        climates at the chosen planting site, or the suitability of past, current, or future planting
                        sites for a seedlot from the chosen location.
                    </p>
                    <p>
                        The choice of climate variables is up to the user. In general, genetic studies indicate that
                        temperate plants are adapted to temperature, especially cold temperatures during the winter,
                        and climate variables related to aridity, for example, precipitation or heat:moisture index.
                        These studies, called genecology studies, relate trait variation among populations grown in a
                        common garden to environmental variation at the source locations where the parents have been
                        subject to natural selection. Additional information may be obtained from differences in growth
                        and survival in long-term field tests (provenance and reciprocal-transplant studies) that move
                        populations across large climatic gradients, although well-designed studies are rare for many
                        plant species. Often the user must rely on generalizations from other species and practical
                        experience. The reason for the option of using seed zones and breeding zones to set initial
                        transfer limits in the SST is because managers have been using them for several decades now for
                        many tree species, and are comfortable that they have prevented earlier problems with
                        maladaptation that were evident before their use.
                    </p>
                    <p>
                        Each climatic transfer limit restricts the area that is mapped as suitable.  When more than one
                        climate variable is specified, the transfer limits are simply overlaid on one another resulting
                        in increasingly restricted areas. We caution users from selecting too many climate variables,
                        and to avoid selecting climate variables that may be highly correlated in the area of interest
                        or climate variables that may be unimportant for adaptation of the species of interest.
                    </p>
                </div>
                <div class="modal-body" id="ClimateNAContent">
                    <p>
                        <a href="{% static "documents/ClimateWNA.pdf" %}">Download PDF</a>
                    </p>
                    <p>
                        <a href="http://cfcg.forestry.ubc.ca/projects/climate-data/climatebcwna/" target="_blank">
                            ClimateWNA:
                        </a>
                        generating high-resolution climate data for climate change studies and applications in Western
                        North America
                    </p>
                    <p>
                        ClimateWNA is an application written by
                        <a href="http://cfcg.forestry.ubc.ca/people/tongli-wang/" target="_blank">Dr Tongli Wang</a>
                        that extracts and downscales 1961-1990 monthly climate normal data from a moderate spatial
                        resolution (4 x 4 km) to scale-free point locations, and calculates monthly, seasonal and
                        annual climate variables for specific locations based on latitude, longitude and elevation.
                        The downscaling is achieved through a combination of bilinear interpolation and dynamic local
                        elevational adjustment. ClimateWNA uses the scale-free data as baseline to downscale historical
                        and future climate variables for individual years and periods between 1901 and 2100.
                    </p>

                    <h4>Data sources</h4>
                    <p>
                        <em>Baseline data </em>
                    </p>
                    <p>
                        The monthly baseline data for 1961-1990 normals were compiled from the following sources and
                        unified at 4 x 4 km spatial resolution:
                    </p>
                    <ol>
                        <li>British Columbia: PRISM at 800 x 800 m from Pacific Climate Impact Consortium;</li>
                        <li>
                            Prairie provinces: PRISM at 4 x 4 km from the
                            <a href="http://www.prism.oregonstate.edu/" target="_blank">PRISM Climate Group</a>;
                        </li>
                        <li>United States: PRISM at 800 x 800 m from the PRISM Climate Group (Daly et al. 2008);</li>
                        <li>The rest: ANUSPLIN at 4 x 4 km</li>
                        <li>
                            Monthly solar radiation data were provided by Dr. Robbie Hember at University of British
                            Columbia.
                        </li>
                    </ol>
                    <p><em>Historical data</em></p>
                    <p>
                        Historical monthly data were obtained from Climate Research Unit (CRU) (Harris et al 2014).
                        The data version is CRU TS 3.23. The spatial resolution is 0.5 x 0.5° and covers the period of
                        1901-2014. Anomalies were calculated for each year and period relative to the 1961-1990 normals.
                    </p>
                    <p><em>Future climate data</em></p>
                    <p>
                        The climate data for future periods, including 2020s (2010-2039), 2050s (2040-69) and 2080s
                        (2070-2100), were from General Circulation Models (GCMs) of the Coupled Model Intercomparison
                        Project (CMIP5) included in the IPCC Fifth Assessment Report (IPCC 2014). Fifteen GCMs were
                        selected for two greenhouse gas emission scenarios (RCP 4.5 and RCP 8.5). When multiple
                        ensembles are available for each GCM, an average was taken over the available (up to five)
                        ensembles. Ensembles among the 15 GCMs are also available.
                    </p>

                    <h4>Climate variables used in Seedlot Select Tool</h4>
                    <p><em>1) Annual variables:</em></p>
                    <p><em>Directly calculated annual variables:</em></p>
                    <p>
                        <ul>
                            <li>MAT mean annual temperature (°C)</li>
                            <li>MWMT mean warmest month temperature (°C)</li>
                            <li>MCMT mean coldest month temperature (°C)</li>
                            <li>TD temperature difference between MWMT and MCMT, or continentality (°C)</li>
                            <li>MAP mean annual precipitation (mm)</li>
                            <li>MSP mean annual summer (May to Sept.) precipitation (mm)</li>
                            <li>AHM annual heat-moisture index (MAT+10)/(MAP/1000))</li>
                            <li>SHM summer heat-moisture index ((MWMT)/(MSP/1000))</li>
                        </ul>
                    </p>
                    <p><em>Derived annual variables:</em></p>
                    <p>
                        <ul>
                            <li>DD&lt;0 degree-days below 0°C, chilling degree-days</li>
                            <li>DD&gt;5 degree-days above 5°C, growing degree-days</li>
                            <li>FFP frost-free period</li>
                            <li>
                                PAS precipitation as snow (mm) between August in previous year and July in current year
                            </li>
                            <li>EMT extreme minimum temperature over 30 years</li>
                            <li>EXT extreme maximum temperature over 30 years</li>
                            <li>Eref Hargreaves reference evaporation (mm)</li>
                            <li>CMD Hargreaves climatic moisture deficit (mm)</li>
                        </ul>
                    </p>

                    <h4>References</h4>
                    <p>
                        Wang, T., Hamann, A. Spittlehouse, D.L. and Murdock, T.Q. 2012. ClimateWNA – High-resolution
                        spatial climate data for western North America. Journal of Applied Meteorology and Climatology
                        51:16-29.
                    </p>
                    <p>
                        Wang, T., Hamann, A., Spittlehouse, D., and Aitken, S. N. 2006. Development of scale-free
                        climate data for western Canada for use in resource management. International Journal of
                        Climatology, 26(3):383-397.
                    </p>
                    <p>
                        Daly. C., M. Halbleib, J. I. Smith, W. P. Gibson, M. K. Doggett, G. H. Taylor, and J. Curtis,
                        2008. Physiographically sensitive mapping of temperature and precipitation across the
                        conterminous United States. Int. J. Climatol., 28, 2031–2064.
                    </p>
                    <p>
                        Harris, I., Jones, P.D., Osborn, T.J. and Lister, D.H. (2014), Updated high-resolution grids
                        of monthly climatic observations - the CRU TS3.10 Dataset. International Journal of
                        Climatology, 34. pp. 623-642.
                    </p>
                </div>
                <div class="modal-body" id="NewsContent">
                    <p>
                        <a href="http://eepurl.com/cc1p1z" target="_blank">Sign up for our newsletter</a>
                    </p>
                </div>
                <div class="modal-body" id="ReportContent">
                    <p>
                        Issues are used to track to-dos, bugs, feature requests, and more. As issues are created,
                        they’ll appear here in a searchable and filterable list.  To get started, you should create an
                        issue.
                    </p>
                    <p>
                        <a href="https://github.com/consbio/seedsource/issues" target="_blank">Report an Issue</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "jquery/jquery.cookie-1.4.1.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "leaflet/leaflet.js" %}"></script>
    <script src="{% static "leaflet/controls/leaflet-basemaps/L.Control.Basemaps-min.js" %}"></script>
    <script src="{% static "leaflet/controls/leaflet-zoombox/L.Control.ZoomBox.min.js" %}"></script>
    <script src="{% static "leaflet/controls/leaflet-geonames/L.Control.Geonames.min.js" %}"></script>

    {% if debug %}
        <script src="{% static "sst/js/leaflet-controls.js" %}"></script>
        <script src="{% static "sst/js/auth.js" %}"></script>
    {% else %}
        <script src="{% static "sst/js/leaflet-controls.min.js" %}"></script>
        <script src="{% static "sst/js/auth.min.js" %}"></script>
    {% endif %}

    {% if debug %}
        {% render_bundle 'main' %}
    {% else %}
        <script src="{% static "sst/build/main.min.js" %}"></script>
    {% endif %}

    {% if enable_ga and not debug %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ ga_id }}', 'auto');
          ga('send', 'pageview');

        </script>
    {% endif %}
</body>
</html>
